<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>



<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GSJDSH8SEB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GSJDSH8SEB');
</script>


    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Proventus-Solutions</title>
    

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="theme-color" content="#111111">
    <meta name="keywords" content="web, mobile, design, engineer, marketing, digital, solutions, development, websites, technology, proventus">
    <meta name="description" content="software company1">

    <meta property="og:title" content="Proventus-Solutions">
    <meta property="og:description" content="software company1">
    <!-- <meta property="og:image" content="/assets/logo/logo-white.webp"> -->
    <!-- <meta property="og:url" content="https://www.proventus-solutions.com/"> -->
    <!-- <meta property="og:type" content="website"> -->



    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/main.css">



    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous"> {% endcomment %}
</head>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        

    <!-- header
    ================================================== -->

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">


<body>


    
    <header class="s-header d-lg-none d-md-block " id="home"> 
        <div class="header-logo">
            <a class="site-logo">
                <img src="/assets/logo/logo-white.webp" alt="Homepage" loading="lazy">
            </a>
        </div>
        <nav class="header-nav">
            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
            <div class="header-nav__content">
                <!-- <h3>Navigation</h3> -->
                <ul class="header-nav__list">
                    <li><a class="smoothscroll nav-link"   href="#about" title="about">About Us</a></li>
                    <li><a class="smoothscroll nav-link"   href="#services" title="services">Our Services</a></li>
                    <li><a class="smoothscroll nav-link"   href="#contact" title="contact">Contact Us</a></li>
                </ul>
                <ul class="header-nav__social">
                    {% for link in links %}
                        <li>
                            <a href="{{link.url}}"><i class="{{link.icon}}" ></i></a>
                        </li>
                    {% endfor %}
                </ul>
            </div> <!-- end header-nav__content -->
        </nav>  <!-- end header-nav -->
        <a class=" header-menu-toggle " href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>
    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <nav  id ="mainNavbar" class ="navbar navbar-expand-lg  py-1 fixed-top  " >
        <a  class = "navbar-brand ">
            
            <img src="/assets/logo/logo-white.webp" alt="Homepage" loading="lazy" class="w-25">
        </a>
        <button class = "navbar-toggler" data-toggle="collapse" data-target ="#navLinks">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class ="collapse navbar-collapse" id="navLinks">
             <ul class ="navbar-nav  ml-auto mr-5">
            
              <li class ="nav-item">
                <a href="#about" class="smoothscroll nav-link" >About Us</a>
              </li>
              <li class ="nav-item">
                <a href="#services" class="smoothscroll nav-link" >Our Services</a>
              </li>
              <li class ="nav-item">
                <a href="#contact" class="smoothscroll nav-link" >Contact Us</a>
              </li>
              
          
            </div> 
        </nav>
    
    <header>
      <div id="indicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#indicators" data-slide-to="0" class="active"></li>
          <li data-target="#indicators" data-slide-to="1"></li>
          <li data-target="#indicators" data-slide-to="2"></li>
        </ol>

        
   
            
        <div class="carousel-inner" role="listbox">
            {% for slider in sliders %}

            {% if slider.types == "image" %}

                {% if  slider.image %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" style="background-image: url('{{slider.image.url}}')" alt="{{slider.title}}">
                {% endif %} 

      

            {% else %}
                 <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                    <video  autoplay loop muted class="w-100" playsinline>
                        <source src="{{slider.image.url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
             
            {% endif %}


            <div class="carousel-caption">
                {% if slider.title %}
                 <h2 class="{{slider.text_color}}">{{slider.title}}</h2>
                {% endif %}
                {% if  slider.text%}
                    <p class="lead {{slider.text_color}}">{{slider.text}}</p>
                {% endif %}
              </div> 


  
            </div>
        {% endfor %}
            
        </div>
        <a class="carousel-control-prev" href="#indicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
        <a class="carousel-control-next" href="#indicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>
    </header>
    
  
    
    

    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark">Hello There</h3>
                <h1 class="display-1 display-1--light">We Are Proventus</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <p>
                    {{company.about}}
                </p>
            </div>
        </div> <!-- end about-desc -->
<!-- 
        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">
                
            <div class="col-block stats__col ">
                <div class="stats__count">127</div>
                <h5>Awards Received</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">1505</div>
                <h5>Cups of Coffee</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">109</div>
                <h5>Projects Completed</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">102</div>
                <h5>Happy Clients</h5> 
            </div>

        </div>  -->
        <!-- end about-stats -->

        <div class="about__line"></div>

    </section> <!-- end s-about -->

 

    <!-- services
    ================================================== -->
    <section id='services' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What We Do</h3>
                <h1 class="display-2">We’ve got everything you need to launch and grow your business</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">
            {% for service in services %}
                <div class="col-block service-item" data-aos="fade-up">
                    <div class="service-icon">
                        {% if service.icon %}
                            <img src="{{ service.icon.url }}" alt="{{service.title}}"/>
                        {% endif %}
                    </div>
                    <div class="service-text">
                        <h2 class="h2">{{service.title}}</h2>
                        <p style="font-size:1.7rem;">{{service.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div> <!-- end services-list -->

    </section> <!-- end s-services -->



    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Contact Us</h3>
                <h1 class="display-2 display-2--light">Reach out for a new project or just say hello</h1>
            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">
            
            <div class="contact-primary">

                <h3 class="h3">Get a Quote</h3>

                <form name="contactForm" id="contactForm"  novalidate="novalidate">
                    {% csrf_token %}
                    <fieldset>
    
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Your Name *" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactPhone" type="tel" id="contactPhone" placeholder="Phone" value="" class="full-width">
                    </div>

                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email *" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject *" value="" class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="Your Message *" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary"  type="button" id="submitContact">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div> <!-- end contact-primary -->

            <div class="contact-secondary">
                <div class="contact-info">

                    {% comment %} <h3 class="h3 hide-on-fullwidth">Contact Info</h3> {% endcomment %}

{% comment %} 
                    <div class="cinfo">
                        <h5>Where to Find Us</h5>
                        <p>
                            {{company.address}}

                        </p>
                    </div> {% endcomment %}

                    <div class="cinfo">
                        <h5>Email Us At</h5>
                        <p>
                            {{company.email}}
                        </p>
                    </div>


                    <div class="cinfo">
                        <h5>Call Us At</h5>
                        <p>
                            {{company.phone}}
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Registration Info</h5>
                        <p>
                            {{company.register_number}}, England
                        </p>
                    </div>


                    <ul class="contact-social">
                        {% for link in links %}
             
                        <li>
                            <a href="{{link.url}}"><i class="{{link.icon}}" aria-hidden="true"></i></a>
                        </li>

                    {% endfor %}
                    </ul> <!-- end contact-social -->

                </div> <!-- end contact-info -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->

    <!-- footer
    ================================================== -->
    <!-- <footer style="background-color:#111111;">

  

        <div class="row footer-bottom">


            <div class="col-twelve">
         
             
            </div>

        </div> 

    </footer>  -->

    <div class="bg-black p-md-3 p-2 text-center text-white" style="font-size: 14px;">
            Copyright © 2024 <span class="text-main">proventus-solutions.com</span> - All Rights Reserved.
    
    </div>
    <div class="go-top">
        <a class="smoothscroll"  title="Back to Top" href="#home"><i class="icon-arrow-up" aria-hidden="true"></i></a>
    </div>

 



    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    

    

    <div class="cookie-consent-banner d-none ">
        <div style="font-size: 1.4rem;">
            We use cookies to ensure you get the best experience on our website. By clicking "Accept", you consent to our use of cookies.
        </div>
        <div class="btn-group">
            <button class="btn btn--primary  accept-cookies m-md-3">Accept</button>
            <button class="btn btn-danger   reject-cookies">Reject</button>
        </div>
    </div>




    <!-- Java Script
    ================================================== -->
    <script src="/assets/js/jquery-3.2.1.min.js" defer></script>
    {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
    <script src="/assets/js/plugins.js" defer></script>
    <script src="/assets/js/main.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% endcomment %}
    <!-- script
    ================================================== -->
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/pace.min.js"></script>

    <script>
         document.addEventListener('DOMContentLoaded', function() {
            const cookieBanner = document.querySelector('.cookie-consent-banner');
            const acceptButton = document.querySelector('.accept-cookies');
            const rejectButton = document.querySelector('.reject-cookies');
            
            // Check if the cookie consent has already been set
            if (!getCookie('cookie_consent')) {
                cookieBanner.classList.remove('d-none');
            }

            acceptButton.addEventListener('click', function() {
                setCookie('cookie_consent', 'accepted', 365);
                cookieBanner.classList.add('d-none');
            });

            rejectButton.addEventListener('click', function() {
                setCookie('cookie_consent', 'rejected', 365);
                cookieBanner.classList.add('d-none');
            });

            function setCookie(name, value, days) {
                let expires = "";
                if (days) {
                    const date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
            }

            function getCookie(name) {
                const nameEQ = name + "=";
                const ca = document.cookie.split(';');
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }
        });
      </script>

      
</body>

</html>

